<header class="site-header header-main-layout-1 ast-primary-menu-enabled ast-logo-title-inline ast-hide-custom-menu-mobile ast-builder-menu-toggle-icon ast-mobile-header-inline" id="masthead" itemtype="https://schema.org/WPHeader" itemscope="itemscope" itemid="#masthead">
    <div id="ast-desktop-header" data-toggle-type="dropdown">
        <div class="flash-messages" >
            {% for success in app.flashes('success') %}
                <div class="alert alert-success text-center">
                    {{ success }}
                </div>
            {% endfor %}
            {% for warning in app.flashes('warning') %}
                <div class="alert alert-danger text-center">
                    {{ warning }}
                </div>
            {% endfor %}
        </div>
        <div class="ast-main-header-wrap main-header-bar-wrap ">
            <div class="ast-primary-header-bar ast-primary-header main-header-bar site-header-focus-item" data-section="section-primary-header-builder">
                <div class="site-primary-header-wrap ast-builder-grid-row-container site-header-focus-item ast-container" data-section="section-primary-header-builder">
                    <div class="ast-builder-grid-row ast-builder-grid-row-has-sides ast-grid-center-col-layout">
                        <div class="site-header-primary-section-left site-header-section ast-flex site-header-section-left">
                            <div class="ast-builder-layout-element ast-flex site-header-focus-item" data-section="title_tagline">
                                <div class="site-branding ast-site-identity" itemtype="https://schema.org/Organization" itemscope="itemscope">
                                    <a href="{{ path('home_index') }}" class="custom-logo-link transparent-custom-logo" rel="home" itemprop="url" aria-label="Construction Company">
                                        <span class="site-logo-img">
                                            <img width="54" height="50" src="{{ asset('img/vision-buildcon-logo.jpg') }}" class="custom-logo" alt="" decoding="async" sizes="(max-width: 150px) 100vw, 150px">
                                            <span class="vision">VISION BUILDCON</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="site-header-primary-section-left-center site-header-section ast-flex ast-grid-left-center-section"></div>
                        </div>
                        <div class="site-header-primary-section-center site-header-section ast-flex ast-grid-section-center">
                            <div class="ast-builder-layout-element ast-flex site-header-focus-item ast-header-html-1" data-section="section-hb-html-1">
                                <div class="ast-header-html inner-link-style-">
                                    <div class="ast-builder-html-element">
                                        <p>Make a call: (+91) 88668 86698</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="site-header-primary-section-right site-header-section ast-flex ast-grid-right-section">
                            <div class="site-header-primary-section-right-center site-header-section ast-flex ast-grid-right-center-section"></div>
                            <div class="ast-builder-layout-element ast-flex site-header-focus-item" data-section="section-hb-social-icons-1">
                                <div class="ast-header-social-1-wrap ast-header-social-wrap">
                                    <div class="header-social-inner-wrap element-social-inner-wrap social-show-label-false ast-social-color-type-custom ast-social-stack-none ast-social-element-style-filled">
                                        <a href="https://www.facebook.com/profile.php?id=61562367266336&mibextid=ZbWKwL" aria-label="Facebook" target="_blank" rel="noopener noreferrer" style="--color: #557dbc; --background-color: transparent; margin-right:0;" class="ast-builder-social-element ast-inline-flex ast-facebook header-social-item">
                                            <span class="ahfb-svg-iconset ast-inline-flex svg-baseline">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </a>
                                        <a href="https://www.instagram.com/vision_buildcon_?igsh=NmRmdTZjN3pkMGY5" aria-label="Instagram" target="_blank" rel="noopener noreferrer" style="--color: #8a3ab9; --background-color: transparent; margin-left:0;" class="ast-builder-social-element ast-inline-flex ast-instagram header-social-item">
                                            <span class="ahfb-svg-iconset ast-inline-flex svg-baseline">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <path d="M224,202.66A53.34,53.34,0,1,0,277.36,256,53.38,53.38,0,0,0,224,202.66Zm124.71-41a54,54,0,0,0-30.41-30.41c-21-8.29-71-6.43-94.3-6.43s-73.25-1.93-94.31,6.43a54,54,0,0,0-30.41,30.41c-8.28,21-6.43,71.05-6.43,94.33S91,329.26,99.32,350.33a54,54,0,0,0,30.41,30.41c21,8.29,71,6.43,94.31,6.43s73.24,1.93,94.3-6.43a54,54,0,0,0,30.41-30.41c8.35-21,6.43-71.05,6.43-94.33S357.1,182.74,348.75,161.67ZM224,338a82,82,0,1,1,82-82A81.9,81.9,0,0,1,224,338Zm85.38-148.3a19.14,19.14,0,1,1,19.13-19.14A19.1,19.1,0,0,1,309.42,189.74ZM400,32H48A48,48,0,0,0,0,80V432a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V80A48,48,0,0,0,400,32ZM382.88,322c-1.29,25.63-7.14,48.34-25.85,67s-41.4,24.63-67,25.85c-26.41,1.49-105.59,1.49-132,0-25.63-1.29-48.26-7.15-67-25.85s-24.63-41.42-25.85-67c-1.49-26.42-1.49-105.61,0-132,1.29-25.63,7.07-48.34,25.85-67s41.47-24.56,67-25.78c26.41-1.49,105.59-1.49,132,0,25.63,1.29,48.33,7.15,67,25.85s24.63,41.42,25.85,67.05C384.37,216.44,384.37,295.56,382.88,322Z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </a>                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ast-below-header-wrap">
            <div class="ast-below-header-bar ast-below-header  site-header-focus-item" data-section="section-below-header-builder">
                <div class="site-below-header-wrap ast-builder-grid-row-container site-header-focus-item ast-container" data-section="section-below-header-builder">
                    <div class="ast-builder-grid-row ast-builder-grid-row-has-sides ast-builder-grid-row-no-center">
                        <div class="site-header-below-section-left site-header-section ast-flex site-header-section-left">
                            <div class="ast-builder-menu-1 ast-builder-menu ast-flex ast-builder-menu-1-focus-item ast-builder-layout-element site-header-focus-item" data-section="section-hb-menu-1">
                                <div class="ast-main-header-bar-alignment">
                                    <div class="main-header-bar-navigation">
                                        <nav class="site-navigation ast-flex-grow-1 navigation-accessibility site-header-focus-item" id="primary-site-navigation-desktop" aria-label="Site Navigation: Main Menu" itemtype="https://schema.org/SiteNavigationElement" itemscope="itemscope">
                                            <div class="main-navigation ast-inline-flex">
                                                <ul id="ast-hf-menu-1" class="main-header-menu ast-menu-shadow ast-nav-menu ast-flex submenu-with-border stack-on-mobile">
                                                    <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="{{ path('home_index') }}" aria-current="page" class="menu-link">Home</a></li>
                                                    <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="{{ path('project_index') }}" class="menu-link">Projects</a></li>
                                                    <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="{{ path('services_index') }}" class="menu-link">Services</a></li>
                                                    <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="{{ path('about_index') }}" class="menu-link">About</a></li>
                                                    <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="{{ path('contact_us_index') }}" class="menu-link">Contact Us</a></li>
                                                </ul>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="site-header-below-section-right site-header-section ast-flex ast-grid-right-section">
                            <div class="ast-builder-layout-element ast-flex site-header-focus-item ast-header-button-1" data-section="section-hb-button-1">
                                {% set current_route = app.request.attributes.get('_route') %}
                                {% if (current_route == ('services_index')) or (current_route == ('home_index')) %}
                                    <div class="ast-builder-button-wrap ast-builder-button-size-">
                                        <a href="#requestForm" class="get-quote-button">
                                            <div class="ast-custom-button">Get A Quote</div>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>