{% extends 'front-end/layout.html.twig' %}

{% block body %}
<div data-elementor-type="wp-page" id="main-content" class="elementor elementor-7">
    <div class="elementor-element elementor-element-d4ffd3e e-flex e-con-boxed e-con e-parent" data-id="d4ffd3e" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-ea27d59 e-con-full e-flex e-con e-child" data-id="ea27d59" data-element_type="container">
                <div class="elementor-element elementor-element-d6211bd elementor-widget elementor-widget-heading" data-id="d6211bd" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container"><h3 class="elementor-heading-title elementor-size-default">Build Your Dream</h3></div>
                </div>
                <div class="elementor-element elementor-element-949f175 elementor-widget elementor-widget-heading" data-id="949f175" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h1 class="elementor-heading-title elementor-size-default">Vision Buildcon</h1>
                    </div>
                </div>
                <div class="elementor-element elementor-element-7eaab47 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="7eaab47" data-element_type="widget" data-widget_type="text-editor.default">
                        Vision Buildcon is an Ahmedabad based construction company and is planning to be one of the leading contractors in the construction segment. The company is earning recognition for undertaking large complex projects, fostering innovations , embracing emerging technologies and making a difference for the clients, employees and the community
                </div>
                <div class="elementor-element elementor-element-62f6d51 e-con-full e-con">
                    <div class="elementor-element elementor-element-59f1388 e-con">
                        <div class="elementor-element elementor-element-2bd3402">
                            <div class="elementor-button-wrapper">
                                <a class="elementor-button" href="{{ path('services_index') }}">Our Services</a>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-7114e20">
                            <div class="elementor-button-wrapper">
                                <a class="elementor-button" href="{{ path('contact_us_index') }}">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-d45c306 e-con">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-b81be35 e-con-full e-flex e-con">
                <div class="elementor-element elementor-element-ce79d14 elementor-widget elementor-widget-heading">
                    <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">Build Your Dream</h4>
                    </div>
                </div>
                <div class="elementor-element elementor-element-4700a06 elementor-widget elementor-widget-heading" >
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">5+ Years of Undefeated Success</h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-b28a1e7 elementor-widget elementor-widget-text-editor">
                    <div class="elementor-widget-container">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis .</p>
                    </div>
                </div>
                <div class="elementor-element elementor-element-b164ba8 elementor-widget elementor-widget-button" data-id="b164ba8" data-element_type="widget" data-widget_type="button.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper">
                            <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">Work With Us</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-5b546eb e-con-full e-flex e-con e-child" data-id="5b546eb" data-element_type="container">
                <div class="elementor-element elementor-element-af11148 e-con-full e-flex e-con e-child" data-id="af11148" data-element_type="container">
                    <div class="elementor-element elementor-element-ff99d01 e-con-full e-flex e-con e-child" data-id="ff99d01" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-element elementor-element-234dcae elementor-widget elementor-widget-icon-box" data-id="234dcae" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-content">
                                        <h2 class="elementor-icon-box-title">
                                            <span> 5+ </span>
                                        </h2>
                                        <p class="elementor-icon-box-description">Years of Experience. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-728e9f5 e-con-full e-flex e-con e-child" data-id="728e9f5" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-element elementor-element-248d72e elementor-widget elementor-widget-icon-box" data-id="248d72e" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-content">
                                        <h2 class="elementor-icon-box-title">
                                            <span>17+ </span>
                                        </h2>
                                        <p class="elementor-icon-box-description">Sites Completed/Under Construction. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-cb8f633 e-con-full e-flex e-con e-child" data-id="cb8f633" data-element_type="container">
                    <div class="elementor-element elementor-element-b389b8b e-con-full e-flex e-con e-child" data-id="b389b8b" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-element elementor-element-39e8808 elementor-widget elementor-widget-icon-box" data-id="39e8808" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-content">
                                        <h2 class="elementor-icon-box-title">
                                            <span> 40+ </span>
                                        </h2>
                                        <p class="elementor-icon-box-description">Towers Successfully Erected </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-7b2195e e-con-full e-flex e-con e-child" data-id="7b2195e" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-element elementor-element-94ee8fa elementor-widget elementor-widget-icon-box" data-id="94ee8fa" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-content">
                                        <h2 class="elementor-icon-box-title">
                                            <span>1500+ </span>
                                        </h2>
                                        <p class="elementor-icon-box-description">Skilled, UnSkilled and technical Members </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-164b421 e-flex e-con-boxed e-con e-parent" data-id="164b421" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-1b327cb e-con-full e-flex e-con e-child" data-id="1b327cb" data-element_type="container">
                <div class="elementor-element elementor-element-7948dce e-con-full e-flex e-con e-child" data-id="7948dce" data-element_type="container">
                    <div class="elementor-element elementor-element-f91e953 e-con-full e-flex e-con e-child" data-id="f91e953" data-element_type="container">
                        <div class="elementor-element elementor-element-11c2c92 elementor-widget elementor-widget-heading" data-id="11c2c92" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h4 class="elementor-heading-title elementor-size-default">Build Your Dream</h4>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-e0e8ea1 elementor-widget elementor-widget-heading" data-id="e0e8ea1" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Quality Services</h2>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-166fe3c e-con-full e-flex e-con e-child" data-id="166fe3c" data-element_type="container">
                        <div class="elementor-element elementor-element-819fd2e elementor-align-right elementor-mobile-align-left elementor-widget elementor-widget-button" data-id="819fd2e" data-element_type="widget" data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="{{ path('services_index') }}">
                                        <span class="elementor-button-content-wrapper">
                                            <span class="elementor-button-icon elementor-align-icon-right">
                                            <i aria-hidden="true" class="fas fa-long-arrow-alt-right"></i> </span>
                                            <span class="elementor-button-text">View All</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-d6d6973 e-con-full e-flex e-con e-child" data-id="d6d6973" data-element_type="container">
                    {% for services in service|slice(0, 3) %}
                    <div class="elementor-element elementor-element-372a8c5 e-con-full e-flex e-con e-child" data-id="372a8c5" data-element_type="container">
                        <div class="elementor-element elementor-element-b43ee8a elementor-position-top elementor-widget elementor-widget-image-box" data-id="b43ee8a" data-element_type="widget" data-widget_type="image-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image-box-wrapper">
                                    <figure class="elementor-image-box-img" style="height: 250px; width: 380px">
                                        <img fetchpriority="high" decoding="async"  src="{{ asset('image/' ~ services.servicePhoto) }}" class="attachment-full size-full wp-image-88 w-100 h-100">
                                    </figure>
                                    <div class="elementor-image-box-content">
                                        <h3 class="elementor-image-box-title">{{ services.name }}</h3>
                                        <p class="elementor-image-box-description">{{ services.description|length >50 ? services.description|slice(0,40) ~ '...' : services.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-01268f1 e-con-full e-flex e-con e-parent" data-id="01268f1" data-element_type="container">
        <div class="elementor-element elementor-element-e9f5c4a e-con-full e-flex e-con e-child pt-5 pb-0" data-id="e9f5c4a" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-element elementor-element-79dd1f2 e-con-full e-flex e-con e-child h-100" data-id="79dd1f2" data-element_type="container">
                <div class="elementor-element elementor-element-aa4f347 e-con-full e-flex e-con e-child" data-id="aa4f347" data-element_type="container">
                    <div class="elementor-element elementor-element-fc984e5 elementor-widget elementor-widget-heading" data-id="fc984e5" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h4 class="elementor-heading-title elementor-size-default text-center">CORE VALUE</h4>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-fc984e5 elementor-widget elementor-widget-heading" data-id="fc984e5" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h4 class="elementor-heading-title elementor-size-default">ETHICS</h4></div>
                    </div>
                    <div class="elementor-element elementor-element-3b5a0d1 elementor-widget elementor-widget-text-editor" data-id="3b5a0d1" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p> - We are uncompromising in our integrity, honesty and fairness </p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-fc984e5 elementor-widget elementor-widget-heading" data-id="fc984e5" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h4 class="elementor-heading-title elementor-size-default">SAFETY AND HEALTH</h4></div>
                    </div>
                    <div class="elementor-element elementor-element-3b5a0d1 elementor-widget elementor-widget-text-editor" data-id="3b5a0d1" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p> - We are relentless in keeping people safe from harm and we provide a healthy work environment </p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-fc984e5 elementor-widget elementor-widget-heading" data-id="fc984e5" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container"><h4 class="elementor-heading-title elementor-size-default">QUALITY</h4></div>
                    </div>
                    <div class="elementor-element elementor-element-3b5a0d1 elementor-widget elementor-widget-text-editor" data-id="3b5a0d1" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p> -  We are passionate about excellence and doing our work right the first time. Our reputations depend on our delivered value in the eyes of every customer and community. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-b42b0cf e-con-full e-flex e-con e-child pt-5 pb-0" data-id="b42b0cf" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-element elementor-element-36ce1ee e-con-full e-flex e-con e-child" data-id="36ce1ee" data-element_type="container">
                <div class="elementor-element elementor-element-70629de e-con-full e-flex e-con e-child" data-id="70629de" data-element_type="container">
                    <div class="elementor-element elementor-element-3bfa10f elementor-widget elementor-widget-heading" data-id="3bfa10f" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h3 class="elementor-heading-title elementor-size-default text-center">CULTURE</h3>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-97a9e3b elementor-widget elementor-widget-text-editor" data-id="97a9e3b" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container"> We actively build a diverse, inclusive and collaborative work environment where all views are welcomed, openness is encouraged and teamwork and merit are cornerstones. We are proud of what we do and how we do it and we enjoy doing it  </div>
                    </div>
                    <div class="elementor-element elementor-element-007db15 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="007db15" data-element_type="widget" data-widget_type="icon-list.default">
                        <div class="elementor-widget-container">
                            <ul class="elementor-icon-list-items">
                                <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon"><i aria-hidden="true" class="fas fa-recycle"></i> </span>
                                    <span class="elementor-icon-list-text">SUSTAINABILITY</span>
                                </li>
                                <p class="ms-5">We improve the quality of life in the community where we work by respecting cultures, engaging local people and protecting the environment. </p>
                                <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon"><i class="fas fa-lightbulb"></i> </span>
                                    <span class="elementor-icon-list-text">INNOVATION</span>
                                </li>
                                <p class="ms-5">We try and develop world class technology, we listen, learn and seek out the best ideas and apply them. We attack complacency and continually improve.</p>

                                <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon"><i class="fas fa-hands-holding-circle"></i></span>
                                    <span class="elementor-icon-list-text">RELATIONSHIPS</span>
                                </li>
                                <p class="ms-5">We build positive, long term relationships with our customers, joint ventures, partners, subcontractors, suppliers, and colleagues that are built on trust, respect and collaboration.</p>

                                <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon"><i class="fa-solid fa-users"></i></span>
                                    <span class="elementor-icon-list-text">PEOPLE</span>
                                </li>
                                <p class="ms-5">We inspire each other with important work full of purpose, challenging development opportunities and rewarding careers. We aspire to be the employer of choice in our industry.</p>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# <div class="elementor-element elementor-element-b23578b e-flex e-con-boxed e-con e-parent" data-id="b23578b" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-096db6e e-con-full e-flex e-con e-child" data-id="096db6e" data-element_type="container">
                <div class="elementor-element elementor-element-8ae3646 elementor-widget elementor-widget-heading" data-id="8ae3646" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">Sustainability</h4>
                    </div>
                </div>
                <div class="elementor-element elementor-element-dd54f6b elementor-widget elementor-widget-heading" data-id="dd54f6b" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Transform Communities Across the Globe</h2>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-cb84393 e-con-full e-flex e-con e-child" data-id="cb84393" data-element_type="container">
                <div class="elementor-element elementor-element-eab451f elementor-widget elementor-widget-text-editor" data-id="eab451f" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        We improve the quality of life in the community where we work by respecting cultures, engaging local people and protecting the environment.                     </div>
                </div>
            </div>
        </div>
    </div> #}
    <div class="elementor-element elementor-element-6955d4d e-flex e-con-boxed e-con e-parent" data-id="6955d4d" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-73ce37a e-con-full e-flex e-con e-child" data-id="73ce37a" data-element_type="container">
                <div class="elementor-element elementor-element-c31875b e-con-full e-flex e-con e-child" data-id="c31875b" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-element elementor-element-b6b0fc0 e-con-full e-flex e-con e-child" data-id="b6b0fc0" data-element_type="container">
                        <div class="elementor-element elementor-element-3bc6009 elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="3bc6009" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-content">
                                        <h3 class="elementor-icon-box-title">
                                            <span>Ahmedabad </span>
                                        </h3>
                                        <p class="elementor-icon-box-description" style="width:50%">Gota-382481 Ahmedabad, Gujarat </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-eede26c elementor-align-left elementor-widget elementor-widget-button" data-id="eede26c" data-element_type="widget" data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="{{ path('contact_us_index') }}">
                                        <span class="elementor-button-content-wrapper">
                                            <span class="elementor-button-icon elementor-align-icon-right">
                                                <i aria-hidden="true" class="fas fa-long-arrow-alt-right"></i>
                                            </span>
                                            <span class="elementor-button-text">Direction</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-d14cf69 elementor-align-center elementor-widget elementor-widget-button" data-id="d14cf69" data-element_type="widget" data-widget_type="button.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper">
                            <a class="elementor-button elementor-button-link elementor-size-sm" href="{{ path('contact_us_index') }}">
                                <span class="elementor-button-content-wrapper">
                                 <span class="elementor-button-text">View Our Offices</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-90def38 e-flex e-con-boxed e-con e-parent" data-id="90def38" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-fe66c88 e-con-full e-flex e-con e-child" data-id="fe66c88" data-element_type="container">
                <div class="elementor-element elementor-element-b4ededb elementor-widget elementor-widget-heading" data-id="b4ededb" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">About Founders</h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-7bca866 elementor-widget elementor-widget-heading" data-id="7bca866" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">We Are Leading International Company In The World</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-c311d28 e-flex e-con-boxed e-con e-parent" data-id="c311d28" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-9109d39 e-con-full e-flex e-con e-child" data-id="9109d39" data-element_type="container">
                <div class="elementor-element elementor-element-80ac6da e-con-full e-flex e-con e-child" data-id="80ac6da" data-element_type="container">
                {% for teams in team|slice(0,4) %}
                    <div class="elementor-element elementor-element-faf2b5d e-con-full e-flex e-con e-child" data-id="faf2b5d" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <img src="{{ asset('image/' ~ teams.teamPhoto) }}" style="height: 100%; width: 100%; border-radius:16px;">
                        <div class="elementor-element elementor-element-900a2dd elementor-widget elementor-widget-icon-box" data-id="900a2dd" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container d-flex justify-content-center">
                                <div class="elementor-icon-box-wrapper team-box-wrapper">
                                    <div class="elementor-icon-box-content team">
                                        <h3 class="elementor-icon-box-title team-title">
                                            <span>{{ teams.name }}</span>
                                        </h3>
                                        <p class="elementor-icon-box-description team-description">{{ teams.designation}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="elementor-element elementor-element-a89d7a5 elementor-align-center elementor-widget elementor-widget-button" data-id="a89d7a5" data-element_type="widget" data-widget_type="button.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper">
                            <a class="elementor-button elementor-button-link elementor-size-sm" href="{{ path('about_index') }}">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">About Us</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-2d96af2 e-flex e-con-boxed e-con e-parent" data-id="2d96af2" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-2c852fe e-con-full e-flex e-con e-child" data-id="2c852fe" data-element_type="container">
                <div class="elementor-element elementor-element-18c1f63 elementor-widget elementor-widget-heading" data-id="18c1f63" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">About Founders</h4>
                    </div>
                </div>
                <div class="elementor-element elementor-element-ead625b elementor-widget elementor-widget-heading" data-id="ead625b" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Our Latest Works</h2>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-100091c e-con-full e-flex e-con e-child" data-id="100091c" data-element_type="container">
                <div class="elementor-element elementor-element-3e4d438 elementor-align-right elementor-mobile-align-left elementor-widget elementor-widget-button" data-id="3e4d438" data-element_type="widget" data-widget_type="button.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper">
                            <a class="elementor-button elementor-button-link elementor-size-sm" href="{{ path('project_index') }}">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">View Projects</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-a602a15 e-con-full e-flex e-con e-parent" data-id="a602a15" data-element_type="container">
    <div class="e-con-inner">
        {% for projects in project|slice(0,3) %}
            <div class="elementor-element elementor-element-e872e62 e-con-full e-flex e-con e-child" data-id="e872e62" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
               <div>
                   {% if projects.images.first()  == true %}
                       <img src="{{ asset('image/' ~ projects.images.first.image) }}" style="height: 250px; width: 380px">
                   {% endif %}
               </div>
                <div class="elementor-element elementor-element-6af6724 elementor-widget elementor-widget-icon-box" data-id="6af6724" data-element_type="widget" data-widget_type="icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-icon-box-wrapper">
                            <div class="elementor-icon-box-content">
                                <h4 class="elementor-icon-box-title">
                                    <span>{{ projects.name }}</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    <div class="elementor-element elementor-element-bb98507 e-flex e-con-boxed e-con e-parent" data-id="bb98507" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-a0b52e2 e-con-full e-flex e-con e-child" data-id="a0b52e2" data-element_type="container">
                <div class="elementor-element elementor-element-6d651ee elementor-widget elementor-widget-heading" data-id="6d651ee" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">Whar Our Clients Say</h4>
                    </div>
                </div>
                <div class="elementor-element elementor-element-f696ce7 elementor-widget elementor-widget-heading" data-id="f696ce7" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Testimonials </h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-b881e64 e-con-full e-flex e-con e-child" data-id="b881e64" data-element_type="container">
                    <div class="elementor-element elementor-element-b6f515f e-con-full e-flex e-con e-child" data-id="b6f515f" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-element elementor-element-e3ad9fd elementor-widget elementor-widget-image" data-id="e3ad9fd" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img loading="lazy" decoding="async" width="70" height="70" src="{{ asset('img/h1-team-img-04-100x100-1.png') }}" class="attachment-large size-large wp-image-166" alt="">
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-e1918d6 elementor-widget elementor-widget-heading" data-id="e1918d6" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h4 class="elementor-heading-title elementor-size-default">Engineering Manager</h4>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-c122418 elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="c122418" data-element_type="widget" data-widget_type="image-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image-box-wrapper">
                                    <div class="elementor-image-box-content">
                                        <h3 class="elementor-image-box-title">Alice Howard</h3>
                                        <p class="elementor-image-box-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-58468af e-con-full e-flex e-con e-child" data-id="58468af" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-element elementor-element-9df9e60 elementor-widget elementor-widget-image" data-id="9df9e60" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img loading="lazy" decoding="async" width="70" height="70" src="{{ asset('img/h1-team-img-04-100x100-1.png') }}" class="attachment-large size-large wp-image-167" alt="">
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-76b4c56 elementor-widget elementor-widget-heading" data-id="76b4c56" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h4 class="elementor-heading-title elementor-size-default">Interior Designer</h4>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-0c1851c elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="0c1851c" data-element_type="widget" data-widget_type="image-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image-box-wrapper">
                                    <div class="elementor-image-box-content">
                                        <h3 class="elementor-image-box-title">Nathan Marshall</h3>
                                        <p class="elementor-image-box-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-1b0010c e-con-full e-flex e-con e-child" data-id="1b0010c" data-element_type="container">
                    <div class="elementor-element elementor-element-a87a177 e-con-full e-flex e-con e-child" data-id="a87a177" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-element elementor-element-e7f972a elementor-widget elementor-widget-image" data-id="e7f972a" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img loading="lazy" decoding="async" width="70" height="70" src="{{ asset('img/h1-img-02-100x100-1.png') }}" class="attachment-large size-large wp-image-168" alt="">
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-3c5496e elementor-widget elementor-widget-heading" data-id="3c5496e" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h4 class="elementor-heading-title elementor-size-default">Architect</h4>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-d9a8903 elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="d9a8903" data-element_type="widget" data-widget_type="image-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image-box-wrapper">
                                    <div class="elementor-image-box-content">
                                        <h3 class="elementor-image-box-title">Ema Romero</h3>
                                        <p class="elementor-image-box-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a70c4c7 e-con-full e-flex e-con e-child" data-id="a70c4c7" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-element elementor-element-f257bd1 elementor-widget elementor-widget-image" data-id="f257bd1" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img loading="lazy" decoding="async" width="70" height="70" src="{{ asset('img/h2-team-img-04.png') }}" class="attachment-large size-large wp-image-169" alt="">
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-caf99b3 elementor-widget elementor-widget-heading" data-id="caf99b3" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h4 class="elementor-heading-title elementor-size-default">Manager</h4>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-be28470 elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="be28470" data-element_type="widget" data-widget_type="image-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image-box-wrapper">
                                    <div class="elementor-image-box-content">
                                        <h3 class="elementor-image-box-title">Ann Smith</h3>
                                        <p class="elementor-image-box-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'front-end/request_form.html.twig' %}
</div>
{% endblock %}