<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="{{ path('projects_list') }}" id="project-header">
                    <div class="sb-nav-link-icon"><i class="fas fa-project-diagram"></i></div>
                    Project
                </a>
                <a class="nav-link collapsed" href="{{ path('clients_list') }}" >
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                    Client
                </a>
                <a class="nav-link collapsed" href="{{ path('teams_list') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Team
                </a>
                <a class="nav-link" href="{{ path('services_list') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Services
                </a>
                <a class="nav-link" href="{{ path('request_list') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-code-pull-request"></i></div>
                    Requests
                </a>
            </div>
        </div>
        {% include 'admin/include/footer.html.twig' %}
    </nav>
</div>