{% extends 'admin/backend_layout.html.twig' %}

{% block title %}Client View{% endblock %}

{% block body %}
    <div class="text-color-grey mt-15">
        <h2>Client <small> view</small></h2>
    </div>
    <div class="mt-5 mb-5">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ client.description }}</td>
            </tr>
            {% if client.logo %}
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('image/' ~ client.logo) }}" width="100px" height="100px"></td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="text-center mb-5 ">
        <a href="{{ path('clients_list') }}"><i class="fa-solid fa-left-long"></i>  Back to list</a>
    </div>
{% endblock %}