{% if client|length == 1 %}
    <div class="single-image">
        <a href="{{ path('client_show', {'slug': client[0].slug}) }}" class="single-image-slide">
            <figure class="single-image-inner">
                <img decoding="async" class="single-image-photo" src="{{ asset('image/' ~ client[0].logo) }}" alt="{{ client[0].name }}" width="100">
            </figure>
        </a>
    </div>
{% else %}
    <div class="elementor-image-carousel swiper-wrapper" id="swiper-wrapper-43105d6896ef3dbf5" style="transform: translate3d(-1500px, 0px, 0px); transition-duration: 0ms;">
        {% for clients in client %}
            <a href="{{ path('client_show', {'slug': clients.slug}) }}" class="swiper-slide" role="group" aria-roledescription="slide" aria-label="{{ loop.index }} / {{ client|length }}" data-swiper-slide-index="{{ loop.index0 }}" aria-hidden="{{ loop.index0 != 1 }}" inert="" style="width: 300px;">
                <div>
                    <figure class="swiper-slide-inner">
                        <img decoding="async" class="swiper-slide-image" src="{{ asset('image/' ~ clients.logo) }}" alt="{{ clients.name }}" width="100">
                    </figure>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
        {% for i in 0..(client|length - 1) %}
            <span class="swiper-pagination-bullet {{ i == 1 ? 'swiper-pagination-bullet-active' : '' }}" data-bullet-index="{{ i }}" aria-label="Go to slide {{ i + 1 }}" {% if i == 1 %}tabindex="0" aria-current="true"{% endif %}></span>
        {% endfor %}
    </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
{% endif %}
