<tr class="align-middle" id="team-row-{{ team.id }}">
    <td class="text-center">{{ team.id }}</td>
    <td class="text-center">{{ team.name }}</td>
    <td class="text-center client-action">
        <a href="{{ path('teams_show', {'id': team.id}) }}" ><i class="fa-solid fa-eye"></i></a>
        <a href="{{ path('teams_edit', {'id': team.id}) }}"><i class="fa-solid fa-pencil"></i></a>
        <a class="delete-project" data-id="{{ team.id }}" data-name="{{ team.name }}" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="fa-solid fa-trash"></i>
        </a>
    </td>
</tr>