{% extends 'admin/backend_layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/backend-js/imageDropzone.js') }}"></script>
    <script>
        DropZone.dropzoneServiceImage();
        DropZone.initRemoveImages('.remove-service-image', "#images",'.service-image', '.image-upload');
        DropZone.initRemovePhotos('.service-logo-remove', '#service_servicePhoto', '#old_photo');
    </script>
{% endblock %}

{% block body %}
    <div class="text-color-grey mt-15">
        <h2>Service <small>add</small></h2>
    </div>
    <div class="col-md-10 col-md-offset-1 col-xs-12 form-container mt-54">
        {{ form_start(form, {'attr': {'id': 'service-form','method':'POST','novalidate': 'novalidate'} }) }}

    <div class="col-md-6 col-md-offset-3 align-center">
        <div class="form-group mb-4 input-container">
            <div class="input-label">
                {{ form_label(form.name) }}
            </div>
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="form-group mb-4 input-container">
            <div class="input-label">
                {{ form_label(form.description) }}
            </div>
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="form-group mb-4 input-container">
            {% if service is defined %}
            <div class="photo-remove">
                <div class="pb-4">
                    <img src="{{ asset('image/' ~ service.servicePhoto) }}" width="100px" height="100px">
                </div>
                <span class="btn-close image-main service-logo-remove top-2 right-19 box-sizing" aria-hidden="true"></span>
            </div>
            <input type="hidden" name="old_photo" id="old_photo" value={{ service.servicePhoto }}>

            {% endif %}
            <div class="dropzone service-image form-control" id="images"  data-picture-upload="{{ path('image_upload') }}">
                <img class="image-upload" src="{{ asset('img/picture-upload-placeholder.png') }}" width="50" />
                <label class="select-photo-container">
                    <span class="select-file d-block">Select file</span>
                    {{ form_widget(form.servicePhoto) }}
                </label>
            </div>
        </div>
        <div class="form-group mb-4 input-container">
            {{ form_widget(form.is_visible) }}
        </div>
        <div>
            <div class="mt-5 mb-5">
                {{ form_widget(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    </div>
    <div class="text-center mt-15 ">
        <a href="{{ path('services_list') }}"><i class="fa-solid fa-left-long"></i>  Back to list</a>
    </div>
{% endblock %}