{% extends 'admin/backend_layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/backend-js/delete.js') }}"></script>
    <script type="text/javascript">
        Delete.onShowModal();
    </script>
{% endblock %}

{% block body %}
    <div class="load-more-loader">
        {% include 'gif/loader-gif.html.twig' with {w: 44, h: 44} %}
    </div>
    <div class="text-color-grey mt-15">
        <h2>Services</h2>
    </div>
    <div class="form-group">
        {{ form_start(search,{'attr': {'id': 'search-form', 'novalidate': 'novalidate'}}) }}
        <div class=" d-flex" id="text-search">
            {{ form_widget(search.search, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(search.searchButton) }}
            <a href="{{ path('services_list') }}"><button type="submit" id="reset" name="reset" class="btn btn-primary">reset</button></a>
        </div>
        {{ form_end(search) }}
    </div>
    <div class="text-right mt-2">
        <a class="btn btn-primary" href="{{ path('services_create') }}"><i class="fa-solid fa-plus"></i> Add</a>
    </div>
    <div>
        <table class="table table-bordered table-striped m-auto" id="services-list">
            <!-- Table header -->
            <thead>
            <tr class="text-color-grey text-center">
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <!-- Table body -->
            <tbody id="servicesList" data-total-items="{{ totalServices ?? 0 }}">
            {% if services is not empty %}
            {% for services in services %}
                {% include 'admin/services/list-items.html.twig' %}
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="no-records text-center" style="color: grey;">no records found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {{ include('admin/_delete_modal.html.twig', { 'services': services } ) }}
{% endblock %}